
services:
  db:
    container_name: prestamosDbAlgoritmos
    image: postgres:14.3
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - prestamosDbAlgoritmos:/var/lib/postgresql/data

volumes:
  prestamosDbAlgoritmos:

